.intro {
  color: red;
  font-style: italic;
  margin-top: 500px;
  margin-bottom: 500px;
}

h2.intro{
  color:blue;
}

p.intro{
  font-size: 30px;
  font-weight: bold;
}

img.intro{
  margin-right: auto;
}
